
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap"
      rel="stylesheet">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>
      <%= (typeof title !="undefined" ? title :" Page title" ) %>
      </title>
      {{ meta }}
      <script type="module" src="/_scss/style.js"></script>
      {{ head }}
    </head>
    <body>
      <div class="l-layout">
        <%- include('_partials/header'); -%>

          {{ content }}

          <%- include('_partials/footer'); -%>


            {{ script }}
            <script src="/assets/js/main.js"></script>
          </div>
        </body>
      </html>
