<footer class="c-footer">
      <ul class="c-footer__left">
        <li>商品に関するお問い合わせは</li>
        <li>健栄製薬株式会社</li>
        <li>TEL | 06-6231-5626 受付時間 |8:45〜17:30(土日祝日を除く)</li>
      </ul>
    
      <ul class="c-footer__right">
        <li class="c-footer__right--logo"><img src="/assets/img/logo_kenei.png" alt="Logo Kenei"></li>
        <li class="c-footer__right--logomb"><img src="/assets/img/logo_keneiMB.png" alt="Logo Kenei MB"></li>
        <li class="c-footer__right--text">©KENEI Pharmaceutical</li>
      </ul>
    
</footer>