<header class="c-header">
  <div>
    <nav class="c-header__pc">
      <ul class="c-header__pc--list">
        <li class="c-header__pc--item"><a class="c-header__pc--link" href="/">トップ</a></li>
        <li class="c-header__pc--item"><a class="c-header__pc--link" href="/">毎日にハッカ油</a></li>
        <li class="c-header__pc--item"><a class="c-header__pc--link" href="/">製品情報</a></li>
        <li class="c-header__pc--item"><a class="c-header__pc--link" href="/">Q&A</a></li>
        <li class="c-header__pc--item"><a class="c-header__pc--link" href="/">ハッカ油コラム</a></li>
        <li class="c-header__pc--item"><a class="c-header__pc--link" href="/">ハッカ油ムービー</a></li>
      </ul>
    </nav>

    <div class="c-header__btn">
      <div class="c-header__btn--open"></div>
      <div class="c-header__btn--close"></div>
    </div>
    <!-- <div class="c-header__mb--btn2"></div> -->
    
    <div class="c-header__mb">
    
      <div class="c-header__mb--fixedtop"><img src="assets/img/fixed-top.png" alt="Fixed Top"></div>
      <div class="c-header__mb--fixedbot"><img src="assets/img/fixed-bottom.png" alt="Fixed Bottom"></div>
      <ul class="c-header__mb--inner">
        <li class="c-header__mb--item"><a class="c-header__mb--link" href="/">トップ</a></li>
        <li class="c-header__mb--item"><a class="c-header__mb--link" href="/">毎日にハッカ油</a></li>
        <li class="c-header__mb--item"><a class="c-header__mb--link" href="/">製品情報</a></li>
        <li class="c-header__mb--item"><a class="c-header__mb--link" href="/">Q&A</a></li>
        <li class="c-header__mb--item"><a class="c-header__mb--link" href="/">ハッカ油コラム</a></li>
        <li class="c-header__mb--item"><a class="c-header__mb--link" href="/">ハッカ油ムービー</a></li>
      </ul>
    </div>
  </div>
</header>
